.split-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

.left-image, .right-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 去除filter属性，使其不会影响到上层文字 */
.left-image, .right-image {
    filter: none;  
}

.left-image {
    background-size: cover;
    background-position: center;
}

.right-image img {
    width: 100%;
    height: auto;
    color: white;
}

.left-side, .right-side {
    position: absolute; /* Position text on the image */
    z-index: 2; /* Ensure the text is on top of the image and the ::before pseudo-element */
    text-align: center;
    width: 100%; /* Make the text area the same width as the image */
    background-color: rgba(255, 255, 255, 0.6); /* Add some background to enhance text readability */
    padding: 10px 0;
}

.left-image::before, .right-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* 黑色覆盖层，0.3是透明度，可以根据需要调整 */
    z-index: 1; /* Ensure it's below the text */
    filter: brightness(0.7); /* 使图片暗化 */
}

.text-overlay {
    position: absolute;
    z-index: 3;
    text-align: center;
    width: calc(60% - 40px); /* 减去左右两边总的40px的margin */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering the text container */
    font-size: 24px; 
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 20px; 
    border-radius: 8px; 
    word-wrap: break-word; 
}

.image-container {
    background-color: #f6f6f6;  /* 淡灰色背景 */
    padding: 20px; 
    border-radius: 15px;  /* 圆角边框 */
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px;  /* 为图片也添加一个轻微的圆角，使其与外部框一致。如果不需要，您可以删除此行 */
}

