.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.website-title {
  margin: 20px 0;
  color: black;
  text-align: left;
}

.divider {
  border: 1px solid white;
  margin-bottom: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.active-link {
  color: #FFD700; 
}

.website-description {
  margin-left: 20px;
  color: black;
  margin-top: 10px;
  font-size: 16px;
}
