.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1000;
    width: 50px;
    transition: width 0.3s;
}

.sidebar:hover {
    width: 250px;
}   

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    background-color: #A9A9A9; 
    border-radius: 50px;   
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.sidebar li:last-child {
    margin-bottom: 0;
}

.sidebar a {
    color: transparent;   
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, width 0.3s, color 0.3s;
}

.sidebar a:hover,
.sidebar:hover a {
    color: white; 
}

.sidebar li a {
    border-radius: 40px;  
    transition: background-color 0.3s;  
}

.sidebar li.selected a {
    background-color: #4E9064;  
}

.sidebar:not(:hover) a.selected {
    color: transparent;  /* 保证在sidebar未展开时，选中的链接文字不显示 */
}
.sidebar:not(:hover) a.selected {
    color: transparent !important;
}


/* 在sidebar未展开时，隐藏所有链接的内容，仅显示背景颜色 */
.sidebar:not(:hover) a::before {
    display: none;
}

/* 在sidebar展开时，显示链接的内容 */
.sidebar:hover a::before {
    display: inline-block;
}

html{
    scroll-behavior: smooth;
}









